[project]
	description = External IP controller is k8s application which is deployed on top of k8s cluster and which configures External IPs on k8s worker node(s) to provide IP connectivity.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tomasz Napierala (zen)
[access "refs/for/refs/*"]
	read = group user/Tomasz Napierala (zen)
	push = group user/Tomasz Napierala (zen)
	label-Code-Review = -2..+2 group user/Tomasz Napierala (zen)
	label-Verified = -1..+1 group user/Tomasz Napierala (zen)
	rebase = group user/Tomasz Napierala (zen)
	removeReviewer = group user/Tomasz Napierala (zen)
	submit = group user/Tomasz Napierala (zen)
[access "refs/heads/*"]
	read = group user/Tomasz Napierala (zen)
	create = group user/Tomasz Napierala (zen)
	push = +force group user/Tomasz Napierala (zen)
	pushMerge = group user/Tomasz Napierala (zen)
[access "refs/tags/*"]
	push = group user/Tomasz Napierala (zen)
	push = +force group user/Tomasz Napierala (zen)
